@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Main.cshtml";
}

	<main id="content">
			<!-- slider -->
			@Umbraco.RenderMacro("HomepageSlider")
			<!-- / slider -->
			<!-- page content -->
			<section class="pb-medium pt-medium">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<nav class="sidebar-menu mb-sm">
								<ul>
									<li><a class="active" href="home-1.html" target="_blank">Edena HTML template</a></li>
									<li><a href="home-2.html" target="_blank">Awesome Revolution slider</a></li>
									<li><a href="home-3.html" target="_blank">Clean & modern design</a></li>
									<li><a href="home-4.html" target="_blank">Key features of Edena</a></li>
									<li><a href="portfolio-project-image.html" target="_blank">Carefully crafted portfolio pages</a></li>
								</ul>
							</nav>
						</div>
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-12">
									<h2>@Umbraco.Field("header1")</h2>
									<p class="lead">
										@Umbraco.Field("header2")
									</p>
								</div>
								<div class="col-md-6">
									<p>
										@Umbraco.Field("mainParagraphLeftColumn")
									</p>
								</div>
								<div class="col-md-6">
									<p>
										@Umbraco.Field("mainParagraph-RightColumn")
									</p>
								</div>
							</div>
						</div><!-- row -->
					</div>
				</div>
			</section>
			<!-- Center image area -->
						<!-- parallax -->
			<section class="parallax fullscreen image-background text-light image-1" data-stellar-background-ratio="0.3">
				<div class="container v-align-center">
					<div class="row">
						<div class="col-md-12 text-center" data-nekoanim="bounceInDown" data-nekodelay="200">
							<h1 class="large">@Umbraco.Field("centerImageHeader1")</h1>
							<p class="lead">@Umbraco.Field("centerImageHeader2")
							</p>
							<a href='@Umbraco.Field("centerImageButtonLink")' class="btn large default">@Umbraco.Field("centerImageButtonText")</a>

						</div>
					</div>
				</div>
			</section>
			<!-- / parallax -->			
			<!-- / page content -->
		</main>
		<!-- / content -->