@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<!-- Basic Page Needs ================================================== -->
	<meta charset="utf-8">
	<title>@Umbraco.Field("metadataTitle", recursive:true)</title>
	<meta name="description" content='@Umbraco.Field("metadataDescription", recursive:true)'>
	<meta name="keywords" content='@Umbraco.Field("metadataKeywords", recursive:true)'>
	<meta name="author" content="Rachel Sharp">

	<!-- Mobile Specific Metas ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS ================================================== -->
	<link type="text/css" rel="stylesheet" href="/css/custom.css">
	<!-- web font  -->
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
	<!-- Neko framework  -->
	<link type="text/css" rel="stylesheet" href="/custom-icons/css/custom-icons.css">
	<link type="text/css" rel="stylesheet" href="/neko-framework/external-plugins/external-plugins.min.css">
	<link type="text/css" rel="stylesheet" href="/neko-framework/css/layout/neko-framework-layout.css">
	<link type="text/css" rel="stylesheet" id="color" href="/neko-framework/css/color/neko-framework-color.css">

	<!-- Favicons ================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">

	<script src="/neko-framework/external-plugins/modernizr/modernizr.custom.js"></script>

</head>
<body class="activate-appear-animation header-7">
	<!-- global-wrapper -->
	<div id="global-wrapper">
		@Umbraco.RenderMacro("Header")
		<!-- header -->
		@RenderBody()			
        <!-- footer -->
		@Umbraco.RenderMacro("Footer")
		<!-- / footer -->
	</div>
	<!-- global wrapper -->
	<!-- End Document ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="/neko-framework/js/jquery/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/neko-framework/js/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>
	<!-- external framework plugins -->
	<script type="application/javascript" src="/neko-framework/external-plugins/external-plugins.min.js"></script>
	<!-- neko framework script -->
	<script type="text/javascript" src="/neko-framework/js/neko-framework.js"></script>
	<!-- neko custom script -->	
	<script src="/js/custom.js"></script>
</body>
</html>

	
	